RewriteEngine On
RewriteRule "^projects$" "projects.php"
RewriteRule "^contact$" "contact.php"
RewriteRule "^contact/submitted$" "contact.php?submitted"
RewriteRule "^contact/error/(.+)$" "contact.php?error=$1"
